
/*----------------------------------------------------*/
/*	ABOUT SECTION
/*----------------------------------------------------*/
#about{
	background: url('../svg/drop.svg') no-repeat 90% center / auto 100%;
	padding: 100px 0;

	.h2{
		font-size: 3rem;
	}//h2

	.content{
		padding: 15px 0;
	}//content

}//about







